body {
    line-height: 1.5;
    background-color: #c4c3d4;
    width: 500px;
    color: 302c70;
    margin: auto;
    font-family: 'Jost', sans-serif;
}


div {
    margin: 30px;
    padding: 10px;
    background-color: #ffffff;
    border-radius: 10px;
    position:relative;
    overflow:hidden;
}

form {
    padding-left: 100px;
    padding-bottom: 30px;
}

h1 {
    font-family: 'Jost', sans-serif;
    font-weight: 700;
    font-size: 40;
    color: #302c70;
    text-align: center;
}

button {
    border-radius: 7px;
    border-width: 0px;
    background-color: #5f58cc;
    font-family: 'Jost', sans-serif;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    color: #ffffff;
}

#queryWord {
    font-family: 'Jost', sans-serif;
    width: 200px;
    border-radius: 7px;
    padding: 5px;
    margin-left: -30px;
}
